:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #202124;
  --foreground: #3c4042;
  --tertiary: #616369;
  --accent: #C38FFF;
  --confirm: #00DAC6;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground);
  font-size: 1.5em;
  padding: 15px 20%;
}

#left {
  display: flex;
  gap: 30px;
}

#right {
  display: flex;
  gap: 30px;
}

#filter {
  width: 70%;
  margin: auto;
}
#filter h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

#largeTile {
  background-color: var(--foreground);
  width: 220px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

#largeTile:hover {
  background-color: var(--tertiary);
  transition: 0.2;
}

#largeTile img {
  height: 70%;
}

#small-tile {
  background-color: var(--foreground);
  width: 220px;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 5px auto;
  border-radius: 20px;
  padding: 5px;
}

#small-tile:hover {
  background-color: var(--tertiary);
  transition: 0.2;
}

#small-tile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

#small-tile .image {
  width: 35%;
}

#small-tile img {
  width: 100%;
  margin: auto;
}
